<p id="notice"><%= notice %></p>
<div class = "d-flex justify-content-around align-items-center">
<h1> Todos los pagos</h1>
<%= link_to '+ Nuevo pago', new_pago_path, :class => "btn btn-outline-warning" %>
</div>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>Creación</th>
      <th>Cantidad</th>
      <th>Fecha teorica</th>
      <th>Fecha efectiva</th>
      <th>Compra</th>
      <th>Tipo</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |pago| %>
      <tr>
        <td><%= link_to "#{pago.created_at.strftime('%d-%m-%Y')}", pago %></td>
        <td><%= pago.cantidad %></td>
        <td><%= pago.fecha_teorica.strftime('%d-%m-%Y') %></td>
        <% unless pago.fecha_efectiva == nil %>
          <td><%= pago.fecha_efectiva.strftime('%d-%m-%Y') %></td>
        <% else %>
          <td class = "rouge"> No pagado </td>
        <% end %>
        <td><%= link_to "#{pago.compra.id}) #{pago.compra.car.marca} #{pago.compra.car.modelo}", pago.compra , :style=> "color: black;"%></td>
        <% if pago.tipo == "cash"%>
          <td class = "rouge"><%= pago.tipo %></td>
        <% elsif pago.tipo == "coche" %>
          <td class = "orangina"><%= pago.tipo %></td>
        <% else %>
          <td class = "verd"><%= pago.tipo %></td>
        <% end %>
        <td><%= link_to 'x', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
