<p id="notice"><%= notice %></p>
<div class = "d-flex justify-content-around align-items-center">
<h1> Todos los pagos</h1>
<%= link_to '+ Nuevo pago', new_pago_path, :class => "btn btn-outline-warning" %>
</div>
<div class = "text-center m-3 filters">
<%= render 'form_ransack', cobro: @cobro %>
</div>

<%= column_chart @pagos.where(fecha_efectiva: nil).group_by_day(:fecha_teorica).sum(:cantidad) %>

<table class = "table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :created_at, 'Creación', default_order: :desc) %></th>
      <th><%= sort_link(@q, :cantidad, 'Cantidad', default_order: :desc) %></th>
      <th><%= sort_link(@q, :fecha_teorica, 'Fecha teorica', default_order: :desc) %></th>
      <th><%= sort_link(@q, :fecha_efetiva, 'Fecha_efetiva', default_order: :desc) %></th>
      <th>Compra</th>
      <th>Tipo</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @pagos.each do |pago| %>
      <tr>
        <td><%= link_to "#{pago.created_at.strftime('%d-%m-%Y')}", pago %></td>
        <td><%= pago.cantidad.to_i %></td>
        <td><%= pago.fecha_teorica.strftime('%d-%m-%Y') %></td>
        <% unless pago.fecha_efectiva == nil %>
          <td><%= pago.fecha_efectiva.strftime('%d-%m-%Y') %></td>
        <% else %>
          <td class = "rouge"> No pagado </td>
        <% end %>
        <td><%= link_to "#{pago.compra.id}) #{pago.compra.car.marca} #{pago.compra.car.modelo}", pago.compra , :style=> "color: black;"%></td>
        <% if pago.tipo == "cash"%>
          <td class = "rouge"><%= pago.tipo %></td>
        <% elsif pago.tipo == "coche" %>
          <td class = "orangina"><%= pago.tipo %></td>
        <% else %>
          <td class = "verd"><%= pago.tipo %></td>
        <% end %>
        <td><%= link_to 'x', pago, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
