
<%= simple_form_for(@flujo) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :cantidad, required: true %>
    <%= f.input :fecha_teorica, html5: true, required: true %>
    <%= f.association :prestamo,
    collection: Prestamo.all.map{|prestamo| ["#{prestamo.fecha.strftime("%d-%m-%Y")} | #{prestamo.cantidad}€", prestamo.id]},
    input_html: { class: 'select2' }
    %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
