<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-around align-items-center">
<h1>Todos los cobros</h1>

<%= link_to '+ Nuevo cobro', new_cobro_path, :class => "btn btn-outline-warning" %>
</div>
<div class = "text-center m-3 filters">
<%= render 'form_ransack', cobro: @cobro %>
</div>

<%= column_chart @cobros.where(fecha_efectiva: nil).group_by_day(:fecha_teorica).sum(:cantidad) %>


<table class = "table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :created_at, 'Creación', default_order: :desc) %></th>
      <th><%= sort_link(@q, :cantidad, 'Cantidad', default_order: :desc) %></th>
      <th><%= sort_link(@q, :fecha_teorica, 'Fecha teorica', default_order: :desc) %></th>
      <th><%= sort_link(@q, :fecha_efetiva, 'Fecha_efetiva', default_order: :desc) %></th>
      <th>Sale</th>
      <th><%= sort_link(@q, :tipo, 'Tipo', default_order: :desc) %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @cobros.each do |cobro| %>
      <tr>
        <td><%= link_to "#{cobro.created_at.strftime('%d-%m-%Y')}", cobro %></td>
        <td><%= cobro.cantidad.to_i %>€</td>
        <td><%= cobro.fecha_teorica.strftime('%d-%m-%Y') %></td>
        <% unless cobro.fecha_efectiva == nil %>
          <td><%= cobro.fecha_efectiva.strftime('%d-%m-%Y') %></td>
        <% else %>
          <td class = "rouge"> No cobrado </td>
        <% end %>
        <td><%= link_to "#{cobro.sale.id}) #{cobro.sale.car.marca} #{cobro.sale.car.modelo}", cobro.sale , :style=> "color: black;"%></td>
        <% if cobro.tipo == "metalico"%>
          <td class = "rouge"><%= cobro.tipo %></td>
        <% elsif cobro.tipo == "coche" %>
          <td class = "orangina"><%= cobro.tipo %></td>
        <% else %>
          <td class = "verd"><%= cobro.tipo %></td>
        <% end %>
        <td><%= link_to 'x', cobro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
