<div class="sidebar">
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <%= image_tag "logoimporty.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Home", root_path, class: "dropdown-item" %>
        <%= link_to "Control", control_path, class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Heading -->
    <div class="sidebar-heading">
        Finances
    </div>
    <li class="nav-item uniline">
      <%= link_to "Prestamos", prestamos_path, class: "nav-link" %>
      <%= link_to "+", new_prestamo_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Gastos mensuales", gastomensuals_path, class: "nav-link" %>
      <%= link_to "+", new_gastomensual_path, class: "nav-link" %>
    </li>

      <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Marketing
    </div>
      <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Operativa
    </div>
    <li class="nav-item uniline">
      <%= link_to "Operaciones", operacions_path, class: "nav-link" %>
      <%= link_to "+", new_operacion_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Personas", personas_path, class: "nav-link" %>
      <%= link_to "+", new_persona_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Coches", cars_path, class: "nav-link" %>
      <%= link_to "+", new_car_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Ventas", sales_path, class: "nav-link" %>
      <%= link_to "+", new_sale_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Cobros", cobros_path, class: "nav-link" %>
      <%= link_to "+", new_cobro_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Compras", compras_path, class: "nav-link" %>
      <%= link_to "+", new_compra_path, class: "nav-link" %>
    </li>
    <li class="nav-item uniline">
      <%= link_to "Pagos", pagos_path, class: "nav-link" %>
      <%= link_to "+", new_pago_path, class: "nav-link" %>
    </li>
  <% else %>
    <li class="sidebar-heading">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>

</div>
