<div class="sidebar">
  <% if user_signed_in? %>
    <li class="nav-item dropdown">
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <%= link_to "Home", "#", class: "dropdown-item" %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
      </div>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Finances
    </div>

      <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Marketing
    </div>
      <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Operativa
    </div>
    <li class="nav-item">
      <%= link_to "Todas las personas", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Todos los coches", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Todas las ventas", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Todos los cobros", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Todas las compras", "#", class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Todos los pagos", "#", class: "nav-link" %>
    </li>
        <li class="nav-item">
      <%= link_to "Todas las operaciones", "#", class: "nav-link" %>
    </li>
  <% else %>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
  <% end %>

</div>
