<div class="wrapper-grid">
  <div class="one-grid">
  <h2 class="grid-title">0. Venta</h2>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado.to_i == 0 %>
        <div class = "grid-card"><%= link_to " #{operacion.titol} ", operacion, :class => "text-dec-none" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="two-grid">
    <h2 class="grid-title">1. Jackson</h2>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado.to_i == 1 %>
        <div class = "grid-card"><%= link_to " #{operacion.titol} ", operacion, :class => "text-dec-none" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="three-grid">
    <h2 class="grid-title">2. Barcelona</h2>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado.to_i == 2 %>
        <div class = "grid-card"><%= link_to " #{operacion.titol} ", operacion, :class => "text-dec-none" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="four-grid">
    <h2 class="grid-title">3. Stock</h2>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado.to_i == 3 %>
        <div class = "grid-card-stock"><%= link_to " #{operacion.titol} ", operacion, :class => "text-dec-none" %></div>
      <% end %>
    <% end %>
  </div>
  <div class="five-grid">
    <h2 class="grid-title">4. Matriculat</h2>
    <% @operacions.each do |operacion| %>
      <% if operacion.estado.to_i == 4 %>
        <div class = "grid-card"><%= link_to " #{operacion.titol} ", operacion, :class => "text-dec-none" %></div>
      <% end %>
    <% end %>
  </div>


</div>
