<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-around align-items-center">
  <h1>Todos los Préstamos</h1>
  <%= link_to '+ Nuevo préstamo', new_prestamo_path, :class => "btn btn-outline-warning" %>
</div>
<table class = "table table-hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Cantidad</th>
      <th>Interés</th>
      <th>Prestamista</th>
      <th>Prestatario</th>
      <th>Declarado</th>
      <th>Finalizado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= link_to prestamo.fecha.strftime("%d-%m-%Y"), prestamo %></td>
        <td><%= prestamo.cantidad %>€</td>
        <td><%= prestamo.interes %>%</td>
        <td><%= prestamo.prestamista.nombre %> <%= prestamo.prestamista.apellido %></td>
        <td><%= prestamo.prestatario.nombre %> <%= prestamo.prestatario.apellido %></td>
        <td><%= prestamo.declarado %></td>
        <td><%= prestamo.devuelto %></td>
        <td><%= link_to 'x', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
