<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-around align-items-center">
<h1>Todos los contactos</h1>
<%= link_to '+ Nuevo contacto', new_persona_path, :class => "btn btn-outline-warning " %>
</div>

<div class = "text-center m-3 filters">
  <%= render 'form_ransack', persona: @persona %>
</div>

<table class = "table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :created_at, 'Creación', default_order: :desc) %></th>
      <th>Nombre</th>
      <th>CIF</th>
      <th>Mail</th>
      <th>Telefono</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @personas.each do |persona| %>
      <tr>
        <td><%= link_to "#{persona.created_at.strftime('%d-%m-%Y')}", persona %></td>
        <td><%= persona.nombre + " " + persona.apellido %></td>
        <td><%= persona.cif %></td>
        <td><%= persona.mail %></td>
        <td><%= persona.telefono %></td>
        <td><%= link_to 'x', persona, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
