<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-between align-items-center">
<h1>
  <%= @persona.nombre %> <%= @persona.apellido %>
</h1>

<%= link_to 'Edit', edit_persona_path(@persona), :class => "btn btn-outline-primary btn-lg" %>
</div>

<p>
  <strong>Mail:</strong>
  <%= @persona.mail %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @persona.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @persona.direccion %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @persona.ciudad %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @persona.cp %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @persona.pais %>
</p>

<p>
  <strong>Cif:</strong>
  <%= @persona.cif %>
  <% if @persona.ident.attached? %>
    <%= link_to("Descargar", cl_image_path("#{@persona.ident.key}.pdf")) %>
  <% end %>
</p>



<% if @persona.sales != [] %>
  <h2> Le hemos vendido estos coches:</h2>
  <table class = "table">
    <thead>
      <tr>
        <th>Operacion id</th>
        <th>Coche</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th>Venta</th>
      </tr>
    </thead>

    <tbody>
      <%  @persona.sales.each do |sale| %>
        <tr>
          <td><%= link_to "#{sale.operacion.id}", operacion_path(sale.operacion)%></td>
          <td><%= link_to "#{sale.car.marca + " " + sale.car.modelo}",car_path(sale.car), :style=> "color: black;" %></td>
          <td><%= sale.precio  %> €</td>
          <td><%= sale.operacion.comercial %></td>
          <td><%= sale.operacion.estado%></td>
          <td><%= link_to "Sale #{sale.id}", sale_path(sale), :style=> "color: black;"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> No le hemos vendido coches.</h2>
<% end %>

<% if @persona.compras != [] %>
  <h2> Le hemos comprado estos artículos:</h2>

    <table class = "table">
    <thead>
      <tr>
        <th>Operacion id</th>
        <th>Coche</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th>Compra</th>
      </tr>
    </thead>

    <tbody>
      <% @persona.compras.each do |compra| %>
        <tr>
          <td><%= link_to "#{compra.operacion.id}", operacion_path(compra.operacion)%></td>
          <td><%= link_to "#{compra.car.marca + " " + compra.car.modelo}",car_path(compra.car), :style=> "color: black;" %></td>
          <td><%= compra.precio  %> €</td>
          <td><%= compra.operacion.comercial %></td>
          <td><%= compra.operacion.estado%></td>
          <td><%= link_to "Compra #{compra.id}", compra_path(compra), :style=> "color: black;"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> No le hemos comprado nada.</h2>
<% end %>
