
<%= simple_form_for(@operacion) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :titol, required: true %>
    <%= f.input :estado, required: true ,
    input_html: { class: 'select2' },
        collection: [["1 - Reserva recibida", 1],["2 - Coche reservado", 2],["3 - 2º Pago recibido", 3],["4 - Exportador recibe el dinero", 4],["5 - Exportador recibe el coche", 5],["6 - Coche cargado en Alemania", 6],["7 - Coche descargado a Barcelona", 7],["8- ITV pasada", 8],["9 - Expediente entrado a la gestoría", 9],["10 - Coche matriculado", 10],["11 - Entrega del coche", 11],["12 - Papeles y garantía enviados", 12],["13 - Importación finalizada", 13]] %>
    <%= f.input :venedor, required: true, collection: ["Angel", "Yoan", "Marti"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
