<p id="notice"><%= notice %></p>


<div class = "d-flex justify-content-around align-items-center">
<h1>Todas las operaciones</h1>
<%= link_to '+ Nueva operación', new_operacion_path, :class => "btn btn-outline-warning" %>
</div>

<table class = "table table-hover">
  <thead>
    <tr>
      <th>Operación</th>
      <th>Comercial</th>
      <th>Estado</th>
      <th>Margen bruto</th>
      <th>IVA</th>
      <th>Pendiente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @operacions.each do |operacion| %>
      <tr>
        <td><%= link_to "#{operacion.id} - #{operacion.titol}", operacion %></td>
        <td><%= operacion.comercial %></td>
        <td><%= operacion.estado %></td>
        <th><%= operacion.margen_neto_iva_si_resta %>€</th>
        <th><%= operacion.iva_iva_si_resta %>€</th>
        <% if operacion.pendiente < 0 %>
        <th class = "rouge"><%= operacion.pendiente %>€</th>
        <% elsif operacion.pendiente > 0 %>
          <th class = "superblue"><%= operacion.pendiente %>€</th>
        <% else %>
          <th class = "verd"><%= operacion.pendiente %>€</th>
        <% end %>
        <td><%= link_to 'x', operacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
