
<%= simple_form_for(@car) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs form-group">
    <%= f.input :marca %>
    <%= f.input :modelo %>
    <%= f.input :kilometraje %>
    <%= f.input :primeramat %>
    <%= f.input :chasis %>
    <%= f.input :matriculanum %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.input :papeles_aleman, as: :file %>
    <%= f.input :papeles_esp, as: :file %>

  </div>

  <div class="form-actions text-center mb-3">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
