<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-between align-items-center">
<h1>
  <%= @car.marca %>
</h1>
<%= link_to 'Edit', edit_car_path(@car), :class => "btn btn-outline-primary btn-lg" %>
</div>
<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @car.kilometraje %>
</p>

<p>
  <strong>Primeramat:</strong>
  <%= @car.primeramat %>
</p>

<p>
  <strong>Chasis:</strong>
  <%= @car.chasis %>
</p>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% @car.photos.each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        </div>
    <% end %>
  </div>
</div>

<% if @car.sales != [] %>
  <h2> Vendido a:</h2>
  <table class = "table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Comprador</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th>Venta</th>
      </tr>
    </thead>

    <tbody>
      <%  @car.sales.each do |sale| %>
        <tr>
          <td><%= link_to "#{sale.operacion.id}", operacion_path(sale.operacion) %></td>
          <td><%= link_to "#{sale.persona.nombre + " " + sale.persona.apellido}", persona_path(sale.persona), :style=> "color: black;"%></td>
          <td><%= sale.precio  %> €</td>
          <td><%= sale.operacion.comercial %></td>
          <td><%= sale.operacion.estado%></td>
          <td><%= link_to "Sale #{sale.id}", sale_path(sale), :style=> "color: black;"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> Coche no vendido.</h2>
<% end %>

<% if @car.compras != [] %>
  <h2> Comprado a:</h2>

    <table class = "table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Persona</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th>Compra</th>
      </tr>
    </thead>

    <tbody>
      <% @car.compras.each do |compra| %>
        <tr>
          <td><%= link_to "#{compra.operacion.id}",  operacion_path(compra.operacion)%></td>
          <td><%= link_to "#{compra.persona.nombre + " " + compra.persona.apellido}", persona_path(compra.persona), :style=> "color: black;" %></td>
          <td><%= compra.precio  %> €</td>
          <td><%= compra.operacion.comercial %></td>
          <td><%= compra.operacion.estado%></td>
          <td><%= link_to "Compra #{compra.id}", compra_path(compra), :style=> "color: black;"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> Coche no comprado.</h2>
<% end %>
