<p id="notice"><%= notice %></p>

<p>
  <strong>Marca:</strong>
  <%= @car.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @car.kilometraje %>
</p>

<p>
  <strong>Primeramat:</strong>
  <%= @car.primeramat %>
</p>

<p>
  <strong>Chasis:</strong>
  <%= @car.chasis %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
