<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-between align-items-center">
<h1>
  <%= @car.marca %>
</h1>
<%= link_to 'Edit', edit_car_path(@car), :class => "btn btn-outline-primary btn-lg" %>
</div>
<p>
  <strong>Modelo:</strong>
  <%= @car.modelo %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @car.kilometraje %>
</p>

<p>
  <strong>Primeramat:</strong>
  <%= @car.primeramat %>
</p>

<p>
  <strong>Chasis:</strong>
  <%= @car.chasis %>
</p>

<% if @car.sales != [] %>
  <h2> Vendido a:</h2>
  <table class = "table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Comprador</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <%  @car.sales.each do |sale| %>
        <tr>
          <td><%= sale.operacion.id %></td>
          <td><%= sale.persona.nombre + " " + sale.persona.apellido%></td>
          <td><%= sale.precio  %> €</td>
          <td><%= sale.operacion.comercial %></td>
          <td><%= sale.operacion.estado%></td>
          <td><%= link_to "Show comprador", persona_path(sale.persona)%></td>
          <td><%= link_to "Show sale", sale_path(sale)%></td>
          <td><%= link_to "Show operacion", operacion_path(sale.operacion)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> Coche no vendido.</h2>
<% end %>

<% if @car.compras != [] %>
  <h2> Comprado a:</h2>

    <table class = "table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Persona</th>
        <th>Precio</th>
        <th>Comercial</th>
        <th>Estado importación</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @car.compras.each do |compra| %>
        <tr>
          <td><%= compra.operacion.id %></td>
          <td><%= compra.persona.nombre + " " + compra.persona.apellido%></td>
          <td><%= compra.precio  %> €</td>
          <td><%= compra.operacion.comercial %></td>
          <td><%= compra.operacion.estado%></td>
          <td><%= link_to "Show vendedor", persona_path(compra.persona)%></td>
          <td><%= link_to "Show compra", compra_path(compra)%></td>
          <td><%= link_to "Show operacion", operacion_path(compra.operacion)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
 <h2> Coche no comprado.</h2>
<% end %>
