
<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs form-group">
    <%= f.input :precio, required: true %>
    <%= f.input :iva, required: true ,
        as: :radio_buttons,
        collection_wrapper_tag: 'div',
        collection_wrapper_class: 'category-wrapper',
        item_wrapper_class: 'category-item',
        input_html: {class: 'category-selector'},
        collection: [["REBU", 0.0],["DEDUCIBLE", 0.21], ["EXPORT", -1]] %>
    <%= f.input :fecha, html5: true, required: true %>
    <%= f.association :persona,
     collection: Persona.all.map{|persona| ["#{persona.id}- #{persona.nombre} #{persona.apellido}", persona.id]},
     input_html: { class: 'select2' } %>

    <%= f.association :car,
    collection: Car.all.map{|car| ["#{car.id}- " + car.marca + " " + car.modelo + " - " + car.primeramat, car.id]},
    input_html: { class: 'select2' } %>
    <%= f.association :operacion,
    collection: Operacion.all.map{|opera| ["#{opera.id}- " + opera.titol, opera.id]},
    input_html: { class: 'select2' } %>
    <% if Sale.all.last != nil %>
      <%= f.input :numero, placeholder: "F#{Sale.all.last.numero[1..].to_i+1}", required: true %>
    <% else %>
      <%= f.input :numero, placeholder: "F22001", required: true %>
    <% end %>
    <%= f.input :coche_cambio %>
    <%= f.input :coche_cambio_precio %>
    <%= f.input :coche_cambio_modelo %>
    <%= f.input :coche_cambio_km %>
    <%= f.input :coche_cambio_matricula %>
    <%= f.input :coche_cambio_ano %>
    <%= f.input :reserva, as: :file %>
    <%= f.input :factura, as: :file %>
    <%= f.input :garantia, as: :file %>
    <%= f.input :marti %>
  </div>

  <div class="form-actions  text-center mb-3">
    <%= f.button :submit, class: "btn btn-primary text-center" %>
  </div>
<% end %>
