
<%= simple_form_for(@sale) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :precio %>
    <%= f.input :iva %>
    <%= f.input :fecha %>
    <%= f.association :persona %>
    <%= f.association :car %>
    <%= f.association :operacion %>
    <%= f.input :numero %>
    <%= f.input :coche_cambio %>
    <%= f.input :coche_cambio_precio %>
    <%= f.input :coche_cambio_iva %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
