<div style="border-bottom: 1px solid gray; padding-bottom: 30px; margin-bottom: 30px;">
  <table style="width:100%">
    <tr>
      <td>
        <%= image_tag image_url("logo.png") %>
      </td>
      <td>
        <p style="text-align:right; font-family: Arial, Helvetica, sans-serif;">Importy Garage S.L. - B42731406</p>
        <p style="text-align:right; font-family: Arial, Helvetica, sans-serif;">Av. Mas Mates 19</p>
        <p style="text-align:right; font-family: Arial, Helvetica, sans-serif;">Roses 17480</p>
      </td>
    </tr>
  </table>
</div>

<div style="border-bottom: 1px solid gray; font-family: Arial, Helvetica, sans-serif; padding-bottom: 30px; margin-bottom: 30px;">
  <table style="width:100%">
    <td>
      <h2 style= "font-family: Arial, Helvetica, sans-serif;"><%= "Factura: #{@sale.numero}" %></h2>
    </td>
    <td>
     <h2 style="text-align:right;">Fecha: <small><%= @sale.fecha.strftime("%d-%m-%Y") %></small></h2>
    </td>
  </table>
  <table style="width:100%">
    <td>
      <h3>
        <strong>Cliente:</strong>
        <strong><%= @sale.persona.nombre + " " + @sale.persona.apellido %></strong>
      </h3>
    </td>
    <td>
      <h1 style = "text-align:right;">Total: <%= number_to_currency(@sale.precio)[1..].gsub(",",":").gsub(".",",").gsub(":",".")%> €</h1>
    </td>
  </table>

  <p>
    <strong>NIF:</strong>
    <%= @sale.persona.cif %>
  </p>

  <p>
    <strong>Dirección:</strong>
    <%= @sale.persona.direccion %>
  </p>
  <p>
    <strong>Ciudad:</strong>
    <%= @sale.persona.ciudad + " (" + @sale.persona.cp + ") " + @sale.persona.pais  %>
  </p>
</div>

<div style="border-bottom: 1px solid gray; font-family: Arial, Helvetica, sans-serif; padding-bottom: 30px; margin-bottom: 30px;">
  <table style = "width: 100%;">
    <tr>
      <td>
        <h2>Concepto</h2>
      </td>
      <td style="text-align:right;">
        <h2>Precio</h2>
      </td>
      <td style="text-align:right;">
        <h2>Unidades</h2>
      </td>
      <td style="text-align:right;">
        <h2>Subtotal</h2>
      </td>
      <td style="text-align:right;">
        <h2>IVA</h2>
      </td>
      <td style="text-align:right;">
        <h2>Total</h2>
      </td>
    </tr>
    <tr>
      <td>
        <h3><strong><%= @sale.car.marca + " " + @sale.car.modelo%></strong></h3>
      </td>
      <td style="text-align:right;">
        <%if @sale.iva == 0 %>
          <p>
            <%= number_to_currency(@sale.precio)[1..].gsub(",",":").gsub(".",",").gsub(":",".")%> €
          </p>
        <%else %>
            <p>
            <%= number_to_currency(@sale.precio.to_i / (1 + @sale.iva))[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
          </p>
        <%end %>
      </td>
      <td style="text-align:right;">
        <p>1</p>
      </td>
      <td style="text-align:right;">
        <%if @sale.iva == 0 %>
          <p>
            <%= number_to_currency(@sale.precio)[1..].gsub(",",":").gsub(".",",").gsub(":",".")%> €
          </p>
        <%else %>
            <p>
            <%= number_to_currency(@sale.precio.to_i / 1.21)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
          </p>
        <%end %>
      </td>
      <td style="text-align:right;">
        <%if @sale.iva == 0 %>
          <p>
            -
          </p>
        <%else %>
            <p>
              <%= number_to_currency(@sale.precio.to_i / 1.21 * 0.21)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
            </p>
        <%end %>
      </td>
      <td style="text-align:right;">
        <p>
          <%= number_to_currency(@sale.precio.to_i)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p><strong>Kilometraje:</strong> <%= @sale.car.kilometraje %>km</p>
        <p><strong>1ª Matriculación:</strong> <%= @sale.car.primeramat %></p>
        <p><strong>Nº Bastidor:</strong> <%= @sale.car.chasis %></p>
        <p><strong>Matrícula:</strong> <%= @sale.car.matriculanum %></p>
      </td>
    </tr>
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td style="text-align:right;">
      <h3><strong>Base:</h3>
      <h3><strong>IVA:</h3>
      <h3><strong>Total:</h3>
    </td>
    <td style="text-align:right;">
        <h3><%= number_to_currency(@sale.precio.to_i / (1 + @sale.iva))[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
        </h3>
        <h3><%= number_to_currency(@sale.precio.to_i / (1 + @sale.iva) * @sale.iva)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€</h3>
        <h3><strong><%= number_to_currency(@sale.precio.to_i)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€</strong></h3>
    </td>
    </tr>
  </table>
  <% if @sale.iva == 0 %>
    <p style = "font-style: italic; text-align: justify;">IVA INCLUIDO: acogido al régimen especial de bienes usados (REBU) provisto por el artículo 26bis de la directiva 77/38/CEE</p>
  <% end %>
</div>

<div style="border-bottom: 1px solid gray; font-family: Arial, Helvetica, sans-serif; margin-top: 10px; padding-bottom: 30px; margin-bottom: 30px;">
  <table style="width:50%;">
    <tr>
      <td><strong>Nº de pago</strong></td>
      <td><strong>Cantidad</strong></td>
      <td><strong>Fecha de pago</strong></td>
    </tr>
    <% @sale.cobros.each do |cobro| %>
      <%unless cobro.tipo == "cash"  %>
        <tr>
          <td>
              <%=cobro.tipo%>
          </td>
          <td>
            <%= number_to_currency(cobro.cantidad)[1..].gsub(",",":").gsub(".",",").gsub(":",".") %>€
          </td>
          <td>
            <% if cobro.fecha_efectiva.present? %>
              <%=cobro.fecha_efectiva%>
            <% else %>
              No pagado
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
<div style="font-family: Arial, Helvetica, sans-serif; text-align: center;">
  <p>Pagar por transferencia bancaria al siguiente número de cuenta:<p>
  <p>IBAN: ES57 2100 0801 1302 0108 6618 | BIC: CAIXESBBXXX<p>
  <p>La información contenida en esta comunicación es confidencial. Esta comunicación tiene el único propósito de su uso por el individuo o entidad designado como receptor. Si el lector de esta comunicación no es el receptor designado, se le notifica por la presente que cualquier divulgación, distribución o copia de esta información está estrictamente prohibida.<p>
</div>
