<p id="notice"><%= notice %></p>

<div class = "d-flex justify-content-around align-items-center">
  <h1>Todas las ventas</h1>
  <%= link_to '+ Nueva venta', new_sale_path, :class => "btn btn-outline-warning" %>
</div>
  <div class = "text-center m-3 filters">
    <%= render 'form_ransack', sale: @sale %>
  </div>

<table class = "table table-hover">
  <thead>
    <tr>
      <th><%= sort_link(@q, :numero, 'Factura', default_order: :desc) %></th>
      <th><%= sort_link(@q, :fecha, 'Fecha', default_order: :desc) %></th>
      <th>Coche</th>
      <th>Comprador</th>
      <th><%= sort_link(@q, :precio, 'Precio', default_order: :desc) %></th>
      <th><%= sort_link(@q, :iva, 'Iva', default_order: :desc) %></th>
      <th>Coche cambio</th>
      <th>Pendiente</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= link_to "#{sale.numero}", sale %></td>
        <td><%= sale.fecha.strftime('%d-%m-%Y') %></td>
        <td><%= link_to "#{sale.car.marca + " " + sale.car.modelo}", sale.car, :style=> "color: black;" %></td>
        <td><%= link_to "#{sale.persona.nombre + " " + sale.persona.apellido}", sale.persona, :style=> "color: black;" %></td>
        <td><%= sale.precio %>€</td>
        <td><%= sale.iva.to_f * 100 %>%</td>
        <% if sale.coche_cambio %>
         <td>Si</td>
        <%else %>
          <td>-</td>
        <% end %>
        <% if sale.pendiente_cobro > 0%>
          <td class = "rouge"><%= sale.pendiente_cobro %> €</td>
        <% elsif sale.pendiente_cobro < 0 %>
          <td class = "orangina"><%= sale.pendiente_cobro %> €</td>
        <% else %>
          <td class = "verd"><%= sale.pendiente_cobro %> €</td>
        <% end %>
        <td><%= link_to "X", sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
