<p id="notice"><%= notice %></p>

<h1>Sales</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Factura</th>
      <th>Fecha</th>
      <th>Precio</th>
      <th>Iva</th>
      <th>Comprador</th>
      <th>Coche</th>
      <th>Coche cambio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.numero %></td>
        <td><%= sale.fecha.strftime('%d-%m-%Y') %></td>
        <td><%= sale.precio %>€</td>
        <td><%= sale.iva.to_f * 100 %>%</td>
        <td><%= sale.persona.nombre + " " + sale.persona.apellido %></td>
        <td><%= sale.car.marca + " " + sale.car.modelo %></td>
        <td><%= sale.coche_cambio %></td>
        <td><%= link_to 'Show', sale %></td>
        <td><%= link_to 'Edit', edit_sale_path(sale) %></td>
        <td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
