<p id="notice"><%= notice %></p>

<div class= "d-flex barra-container">
  <div class = "card-container">
    <div class = "text-center">
    <h1><%="#{@sale.id}) " + @sale.car.marca + " " + @sale.car.modelo + " - " + @sale.precio.to_s %>€</h1>
  </div>
  <div class = "d-flex justify-content-center">
    <div class = "text-center m-3">
      <%= link_to 'Edita', edit_sale_path(@sale), :class => "btn btn-primary btn-lg" %>
    </div>
    <div class = "text-center m-3">
      <%= link_to 'Reserva', reserva_path(:format => :pdf), :class => "btn btn-primary btn-lg", target: :_blank %>
    </div>
    <div class = "text-center m-3">
      <%= link_to 'Reserva 100%', reserva100_path(:format => :pdf), :class => "btn btn-primary btn-lg", target: :_blank %>
    </div>
    <div class = "text-center m-3">
      <%= link_to 'Factura', factura_path(:format => :pdf), :class => "btn btn-primary btn-lg", target: :_blank %>
    </div>
  </div>

  <div class = "sale-card d-flex justify-content-around align-items-center">
    <% if @sale.reserva.attached? %>
      <div>
        <strong>Reserva firmada:</strong>
        <%= link_to("Descargar", cl_image_path("#{@sale.reserva.key}.pdf")) %>
      </div>
    <% end %>
    <% if @sale.factura.attached? %>
      <div>
        <strong>Factura entregada:</strong>
        <%= link_to("Descargar", cl_image_path("#{@sale.factura.key}.pdf")) %>
      </div>
    <% end %>
    <% if @sale.garantia.attached? %>
      <div>
        <strong>Garantia firmada:</strong>
        <%= link_to("Descargar", cl_image_path("#{@sale.garantia.key}.pdf")) %>
      </div>
    <% end %>
  </div>

    <div class = "sale-card">
      <div class = "d-flex justify-content-between align-items-baseline">
        <h3><strong>Factura nº</strong></h3>
        <h3><%= @sale.numero %></h3>
      </div>
      <% if @sale.iva == 0.0 %>
        <p><strong>Precio:</strong> <%= @sale.precio %>€ </p>
      <% else %>
        <p><strong>Precio:</strong> <%= (@sale.precio / (1+ @sale.iva)).to_i %>€ + <%= (@sale.iva * 100).to_i %>% = <strong><%= @sale.precio %>€</strong> </p>
      <% end %>
      <p>
        <strong>Fecha:</strong>
        <%= @sale.fecha.strftime("%d-%m-%Y") %>
      </p>
    </div>

    <div class = "sale-card">
      <div class = "d-flex justify-content-between align-items-baseline">
        <h3><strong>Coche vendido</strong></h3>
        <%= link_to "Abrir", @sale.car%></td>
      </div>
        <p><strong>Modelo:</strong> <%= @sale.car.marca + " " + @sale.car.modelo %> </p>
        <p><strong>Kilometraje:</strong> <%= @sale.car.kilometraje %></p>
        <p><strong>Año:</strong> <%= @sale.car.primeramat %></p>
        <p><strong>Chasis:</strong> <%= @sale.car.chasis %></p>
    </div>

    <div class = "sale-card">
      <div class = "d-flex justify-content-between align-items-baseline">
        <h3><strong>Comprador</strong></h3>
        <%= link_to "Abrir", @sale.persona%></td>
      </div>
        <p><strong>Nombre:</strong> <%= @sale.persona.nombre + " " + @sale.persona.apellido %> </p>
        <p><strong>NIF:</strong> <%= @sale.persona.cif %></p>
        <p><strong>E-mail:</strong> <%= @sale.persona.mail %></p>
        <p><strong>Telefono:</strong> <%= @sale.persona.telefono %></p>
        <p><strong>Dirección:</strong> <%= @sale.persona.direccion + " " + @sale.persona.ciudad + " " + @sale.persona.cp + " " + @sale.persona.pais %></p>
    </div>

    <div class = "sale-card">
      <div class = "d-flex justify-content-between align-items-baseline">
        <h3><strong>Operación</strong></h3>
        <%= link_to @sale.operacion do%>
          Abrir
        <% end %>
      </div>
        <p><strong>Operación:</strong> <%= @sale.operacion.titol %> </p>
        <p><strong>Estado:</strong> <%= @sale.operacion.estado %></p>
        <p><strong>Comercial:</strong> <%= @sale.operacion.venedor %></p>
      </div>

  </div>
  <div class = "lateral-container">
    <div class = "barra-lateral">
      <div class = "d-flex justify-content-between">
      <% if @sale.pendiente_cobro == 0 %>
        <h3 class = "text-center green"> Pagado</h3>
      <% else %>
        <h3 class = "text-center"> Pendiente: <%= @sale.pendiente_cobro%>€</h3>
      <% end %>
        <%= link_to " + ", new_cobro_path, :class => "añadido" %>
      </div>
      <table class = "table mt-4">
        <tr>
          <th>Pago</th>
          <th>Cantidad</th>
          <th>Fecha</th>
          <th>Tipo</th>
          <th>X</th>
        </tr>
        <% @sale.cobros.each do |cobro| %>
        <tr>
          <% unless cobro.fecha_efectiva == nil %>
            <td><%= link_to 'Si', edit_cobro_path(cobro), :class => "text_none" %></td>
          <% else %>
            <td><%= link_to 'No', edit_cobro_path(cobro), :class => "text_none" %></td>
          <% end %>
            <td><%= cobro.cantidad %>€</td>
            <td><%= cobro.fecha_teorica.strftime('%d-%m-%Y') %></td>
            <td><%= cobro.tipo %></td>
            <td><%= link_to 'x', cobro, method: :delete, data: { confirm: 'Are you sure?' }, :class => "text_none" %></td>
        </tr>
        <% end %>
      </table>
      <% if @sale.coche_cambio %>
      <div class = "sale-card-canvi">
        <div class = "d-flex justify-content-between align-items-baseline">
          <h3><strong>Coche cambio</strong></h3>
           <h3>-<%= @sale.coche_cambio_precio %>€</h3>
        </div>
          <p><strong>Modelo:</strong> <%= @sale.coche_cambio_modelo %> </p>
          <p><strong>Precio:</strong> <%= @sale.coche_cambio_precio %>€ </p>
          <p><strong>Kilometraje:</strong> <%= @sale.coche_cambio_km %></p>
          <p><strong>Matricula:</strong> <%= @sale.coche_cambio_matricula %></p>
          <p><strong>Año:</strong> <%= @sale.coche_cambio_ano %></p>
      </div>
    <% end %>

  </div>
</div>
